extends layouts/_main.pug
include mixins/_postal.pug
block content
    ul.row#bodying
      div(class="col s12 m12 l12")
        .card
          .card-image
            img(src="./../images/branch1.jpg")
      //-Se ponen todas las postales que hayan para esa categoría
      ul.row
        +postal(title,content,"./../images/example.jpg","#","favorite")
        +postal(title,content,"./../images/example.jpg","#","favorite")
        +postal(title,content,"./../images/example.jpg","#","favorite")
        +postal(title,content,"./../images/example.jpg","#","favorite")