extends layouts/_main.pug
include mixins/_parallax.pug
block content
    +parallax("pink-text pink-text lighten-1",
      "waves-effect waves-light btn-large pink lighten-1", 
      "Amistad y amor", "Love is in the air...", 
      "Postales acerca de amor, amistad, sinceridad, afecto, amor que puedas demostrar hacia una persona cercana a ti.", 
      "./../images/parallax1.jpg",
      "./Amistad.html")
    
    +parallax("light-green-text accent-2",
      "waves-effect waves-light btn-large light-green", 
      "Conciencia ambiental", "Cuida la madre naturaleza...", 
      "Postales para promover el amor por lo que nos rodea, cuidar las vaquitas marinas y los bosques.", 
      "./../images/parallax2.jpg",
      "./Ambiente.html")

    +parallax("amber-text accent-3",
      "waves-effect waves-light btn-large amber accent-3", 
      "Invitaciones", "La vaquita marina está en peligro...", 
      "Postales para promover el amor por lo que nos rodea, cuidar las vaquitas marinas y los bosques.", 
      "./../images/parallax3.jpg",
      "./Invitaciones.html")

    +parallax("cyan-text darken-2",
      "waves-effect waves-light btn-large cyan darken-2", 
      "Animales", "La vaquita marina está en peligro...", 
      "Cerditos, pájaros, cobayas, ratones, ranas, perros, gatos, caballos, leones, llamas, alpacas, serpientes, mariposas.", 
      "./../images/parallax4.jpg",
      "./Animales.html")

    +parallax("deep-orange-text accent-4",
      "waves-effect waves-light btn-large deep-orange accent-4", 
      "Festividades", "Festejemos por algo...", 
      "Navidad, Año Nuevo, Día de muertos, 10 de mayo, Primavera, Verano, Otoño, Invierno, Día del amor.", 
      "./../images/parallax5.jpg",
      "./Festividades.html")

    +parallax("red-text darken-3",
      "waves-effect waves-light btn-large red darken-3", 
      "Felicitación", "Feliz día de...", 
      "Feliz cumpleaños, Feliz aniversario, Feliz graduación, Feliz Día del Ingeniero.", 
      "./../images/parallax6.jpg",
      "./Felicitacion.html")

        