doctype html
html
  head
    title Mis Postales
    link(rel="stylesheet" href="./../css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(rel="stylesheet" href="./../css/main.css")

    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body  
    //-function
    ul.dropdown-content#dropdown1
      li
        a(href="./amistad.html") Amistad / Amor
        a(href="./ambiente.html") Consciencia ambiental
        a(href="./invitaciones.html") Invitaciones
        a(href="./animales.html") Animales
        a(href="./festividades.html") Festividades
        a(href="./felicitacion.html") Felicitaci칩n

    //-Header
    ul.sidenav#mobile-demo
      li
        a.dropdown-trigger(href="#!" data-target="dropdown1") Categorias
          i(class = "small right material-icons") keyboard_arrow_down
      li
        a(href="./send.html") Enviar
          i(class = "right material-icons") send
      li
        a(href="./login.html") Sign up/Log in
          i(class="right material-icons") account_circle

    div.navbar-fixed
      nav(class="center right nav-extended indigo darken-3-text s8 m8 l8")
        div(class="nav-wrapper ")
          a(class="brand-logo white-text" href="#")
            img(style="max-height: 64px;" src="/./../images/logo1.png" alt="")
          a.sidenav-trigger(href="#" data-target="mobile-demo")
            i.material-icons menu
          ul(class="right hide-on-med-and-down")#nav-mobile
            li
              a.dropdown-trigger(href="#!" data-target="dropdown1") Categorias
                i(class = "small right material-icons") keyboard_arrow_down
            li
              a(href="./send.html") Enviar
                i(class = "right material-icons") send
            li
              a(href="./account.html") Account
                i(class="right material-icons") account_circle
    
    //-Im치genes deslizantes
    div(class="carousel carousel-slider s12 m12 l8")
      a.carousel-item(href="#one!")
        img(src="./../images/example.jpg")
      a.carousel-item(href="#two!")
        img(src="./../images/images.jpg")
      a.carousel-item(href="#three!")
        img(src="./../images/example.jpg")
      a.carousel-item(href="#four!")
        img(src="./../images/images.jpg")
      a.carousel-item(href="#five!")
        img(src="./../images/example.jpg")
      a.carousel-item(href="#six!")
        img(src="./../images/images.jpg")
    
    //-M치s populares

    ul(class="center amber-text s12 m12 l12")
        h4.brand-logo(href="#!") M치s populares
          i(class="small material-icons") &nbspgrade
    
    ul.row
      div(class="col s12 m4 l3")
        .card
          div.card-image
            img(src="/../images/example.jpg")
            span.card-title Older
          div.card-content
            p It's interesting workin with this. I am convenient because I require little markup to use effectively.
          div.card-action
            i.material-icons(href="mobile.html") favorite
      div(class="col s12 m4 l3")
        .card
          div.card-image
            img(src="/../images/images.jpg")
            span.card-title Two
          div.card-content
            p It's interesting workin with this. I am convenient because I require little markup to use effectively.
          div.card-action
            i.material-icons(href="mobile.html") favorite
      div(class="col s12 m4 l3")
        .card
          div.card-image
            img(src="/../images/threejpg.jpg")
            span.card-title Three
          div.card-content
            p It's interesting workin with this. I am convenient because I require little markup to use effectively.
          div.card-action
            i.material-icons(href="mobile.html") favorite
      div(class="col s12 m4 l3")
        .card
          div.card-image
            img(src="/../images/example.jpg")
            span.card-title Older
          div.card-content
            p It's interesting workin with this. I am convenient because I require little markup to use effectively.
          div.card-action
            i.material-icons(href="mobile.html") favorite
      a(class="btn waves-effect white grey-text darken-text-2" href="google.com") View more
        i(class="tiny material-icons")(href ="mobile.html") &nbspperson_add

    //-Footer

    script(
      src="https://code.jquery.com/jquery-3.4.1.min.js" 
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" 
      crossorigin="anonymous")
    script(type="text/javascript" src="./../js/materialize.min.js")
    script(type="text/javascript" src="./../js/main.js")