<!DOCTYPE html>
<html>
  <head>
    <title>Mis Postales</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="#">Categorías</a></li>
      <li><a href="badges.html">Enviar</a></li>
      <li><a href="badges.html">Sign up / Log in</a></li>
    </ul>
    <nav class="nav-extended orange accent-3-text">
      <div class="nav-wrapper"><a class="brand-logo" href="#">Logo</a><a class="sidenav-trigger" href="#" data-target="mobile-demo"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" id="nav-mobile">
          <li><a href="saas.html">Categorías</a></li>
          <li><a href="saas.html">Enviar</a></li>
          <li><a href="mobile.html"> <i class="large material-icons">account_circle</i></a></li>
        </ul>
      </div>
    </nav>
    <div class="carousel carousel-slider s12 m12 l8"><a class="carousel-item" href="hola.html"><img src="./../images/example.jpg"></a><a class="carousel-item" href="#two!"><img src="./../images/images.jpg"></a><a class="carousel-item" href="#three!"><img src="./../images/example.jpg"></a><a class="carousel-item" href="#four!"><img src="./../images/images.jpg"></a><a class="carousel-item" href="#five!"><img src="./../images/example.jpg"></a><a class="carousel-item" href="#six!"><img src="./../images/images.jpg"></a></div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="./../js/main.js"></script>
  </body>
</html>