extends layouts/_main.pug
include mixins/_usuario.pug
block content
    ul(class="row center s12 m12 l12")
      h2#titleSignPostal Enviar Postal
      p Envía una postal a quien tu quieras (con e-mail).
    ul(class="row center")#bodying
      div(class="right col s12 m6 l6")
        //-aquí va la postal a enviar
        img(src="./../images/trixie.jpg" style="width:100%;")#anouncement
      //-send
      div(class="left col s12 m6 l6 blue-text accent-4")
        div(class="center input-field s12")
          i(class="amber-text material-icons prefix") email
          input(disabled id="my_email" type="email" class="validate")
          label(for="my_email") From
          span.helper-text Tu correo
        div(class="center input-field s12")
          i(class="green-text material-icons prefix") email
          input(id="to_email" type="email" class="validate")
          label(for="to_email") To
          span.helper-text(class="center" data-error="Ingresa un correo válido" data-success="Correcto") Ingresa el correo destino
        
        div(class="center input-field col s12 m12 l12")
          textarea(id="message" class="materialize-textarea")
          label(for="message") Escribe una dedicatoria
          span.helper-text (opcional)
      div(class="center btn amber accent-4")
        a(class="white-text" href="./send.html") Enviar
          i(class = "right material-icons") send